<div class="module-crud-container">
  <!-- Formulario para crear o actualizar módulos -->
  <div class="module-form">
    <h2>{{ isEditMode ? 'Editar Módulo' : 'Crear Módulo' }}</h2>
    <form (ngSubmit)="isEditMode ? updateModule() : createModule()">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="moduleData.nombre" required>
      </div>
      <div class="form-group">
        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion" [(ngModel)]="moduleData.descripcion" required></textarea>
      </div>
      <div class="form-group">
        <label for="imagen">URL de la imagen:</label>
        <input type="text" id="imagen" name="imagen" [(ngModel)]="moduleData.imagen" required>
      </div>
      <!-- Mover botones a la derecha -->
      <div style="text-align: right;">
        <button class="boton" type="submit" [disabled]="!areFieldsValid()">{{ isEditMode ? 'Actualizar' : 'Crear' }}</button>
      </div>
    </form>
  </div>

  <!-- Lista de módulos -->
  <div class="module-list">
    <h2>Lista de Módulos</h2>
    <input type="text" [(ngModel)]="searchTerm" (input)="filterModules()" placeholder="Buscar módulos">
    <ul>
      <li *ngFor="let module of filteredModules">
        {{ module.nombre }}
        <!-- Mover botones a la derecha -->
        <div class="buttons-container" style="text-align: right;">
          <button (click)="editModule(module)">Editar</button>
          <button (click)="confirmDeleteModule(module)">Eliminar</button>
        </div>
      </li>
    </ul>
  </div>

  <!-- Mensaje modal de confirmación -->
  <div class="modal" *ngIf="moduleToDelete">
    <div class="modal-content">
      <p>¿Estás seguro de que deseas eliminar el módulo "{{ moduleToDelete.nombre }}"?</p>
      <div style="text-align: right;">
        <button class="boton" (click)="cancelDelete()">Cancelar</button>
        <button class="boton" (click)="deleteModule(moduleToDelete._id)">Eliminar</button>
      </div>
    </div>
  </div>
</div>
