/* Estilos generales */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

/* Estilos de la sección principal */
main {
	background-image: url(/assets/Imagenes/prueba.gif);
	background-repeat: no-repeat;
	background-size: cover;
	height: 75vh;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	border-radius: 30px;
}

section.info {
	width: 100%; /* ancho del section */
	margin: 0 auto;
	background-color: #ffffff;
	border-radius: 20px;
	padding: 50px;
	max-width: 700px;
	text-align: center;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}


p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 20px;
	font-family: Century Gothic, Geneva, Arial, sans-serif;
}

button {
	background-color: #007bff;
	border: none;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	transition: background-color 0.3s ease;
	border-radius: 10px;
}

button:hover {
	background-color: #4c8f04;
}

/* Estilos del pie de página */
footer {
	background-color: #f2f2f2;
	padding: 20px;
	text-align: center;
}

.features {
	background-color: rgb(95, 86, 199);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	margin-top: 25px;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 50px;
}


.card:hover {
	transform: translateY(-5px);
}


.slider {
	position: relative;
	overflow: hidden;
	border-radius: 40px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.slides {
	display: flex;
	animation: slideAnimation 20s infinite;
}

.slide {
	flex: 0 0 100%;
	transition: transform 0.5s ease;
}

.slide img {
	width: 100%;
	height: auto;
}

@keyframes slideAnimation {
	0% {
		transform: translateX(0);
	}
	20% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(-100%);
	}
	45% {
		transform: translateX(-100%);
	}
	50% {
		transform: translateX(-200%);
	}
	70% {
		transform: translateX(-200%);
	}
	75% {
		transform: translateX(-300%);
	}
	95% {
		transform: translateX(-300%);
	}
	100% {
		transform: translateX(-300%);
	}
}

/* Estilos de la sección de comentarios */
.comments {
	background-color: #f7f7f7;
	padding: 20px;
}

h1 {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  font-size: 28px;
  color: #333333;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


.comment h2{
  text-align: center;
  font-size: 28px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.comment {
	display: flex; /* Agregado */
	align-items: center; /* Agregado */
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow:  2px 2px 4px rgba(0, 0, 0, 30);
	padding: 20px;
	margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.comment img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 10px;
}

.comment .name {
	font-weight: bold;
	margin-bottom: 5px;
}

.comment .content {
	font-size: 14px;
	line-height: 1.5;
	margin-bottom: 10px;
}

.comment .date {
	font-size: 12px;
	color: #000000;
}


.card {
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	margin: 20px;
	padding: 20px;
	max-width: 350px;
	text-align: center;
	transition: transform 0.3s ease;
}


.comment:hover{
	transform: translateY(-5px);
}

.card img {
	height: 250px;
	margin-bottom: 20px;
}

.card h2 {
	font-size: 24px;
	margin-bottom: 10px;
  text-align: center;
  color: #000000;
}

.card p {
	font-size: 16px;
	line-height: 1.5;
  color: #000000;
}

/* Estilos para títulos específicos */
.card.aritmetica {
	background-color: #8cb918;
}

.card.algebra {
	background-color: #FFBB7C;
}

.card.logica {
	background-color: #FFE66D;
}

.card.geometria {
	background-color: #7CFCA9;
}

.card.calculo {
	background-color: #7CE3FC;
}

.card.trigonometria {
	background-color: #7C9DFC;
}

.card.estadistica {
	background-color: #D77CFC;
}

.card.fisica-matematica {
	background-color: #efc34a;
}

.card.matematica-computacional {
	background-color: #C9C9C9;
}

