<!DOCTYPE html>
<html  lang = "es"  xml:lang = "es" >
<head>
	<title>MathGenious</title>
  <meta  content = "text/html; charset=utf-8" />
</head>

	<main>
		<section class="info">
			<h1>¡Aprende matemáticas fácilmente!</h1>
			<p>MathGenious te ofrece una forma divertida y fácil de aprender matemáticas en línea.</p>
			<button routerLink="/registro">Comienza ahora</button>
		</section>
	</main>
  <br>
	<br>
	<section>
		<div class="slider">
			<div class="slides">
				<div class="slide">
					<img src="assets/Imagenes/slider1.jpg" alt="Slide 1">
				</div>
				<div class="slide">
					<img src="assets/Imagenes/slider2.jpg" alt="Slide 2">
				</div>
				<div class="slide">
					<img src="assets/Imagenes/slider3.jpg" alt="Slide 3">
				</div>
				<div class="slide">
					<img src="assets/Imagenes/slider4.jpg" alt="Slide 4">
				</div>
			</div>
		</div>
	</section>


	<br>
	<br>

	<section class="info">
		<h1>¿Por qué utilizar MathGenious?</h1>
		<p>Los estudiantes mejoran su capacidad cognitiva y calificaciones</p>
	</section>


  <br>
	<br>
  <div class="comment">
    <h2>Comentarios de nuestros usuarios</h2>
  </div>

  <div class="comment">
    <img src="assets/Imagenes/cara1.jpeg" alt="Usuario 1">
    <i>
      <p>"MathGenious ha sido una herramienta invaluable para mi aprendizaje en matemáticas. Los videos explicativos y los ejercicios interactivos me han ayudado a comprender conceptos difíciles de una manera clara y concisa. ¡Recomiendo esta plataforma a todos los estudiantes de matemáticas!" <br><br><b>- Marivy González</b></p>
    </i>
  </div>

  <div class="comment">
    <img src="assets/Imagenes/cara2.jpeg" alt="Usuario 2">
    <i>
      <p>"Estoy impresionada con la calidad y profesionalismo de MathGenious. Los videos son de alta calidad y los controles de reproducción y volumen facilitan la visualización. Además, la opción de tener estadísticas sobre mi progreso me ha motivado a mejorar constantemente. ¡Gracias por crear esta plataforma tan útil!" <br><br><b>- Andrea Marín</b></p>
    </i>
  </div>

  <div class="comment">
    <img src="assets/Imagenes/cara3.jpeg" alt="Usuario 3">
    <i>
      <p>"MathGenious ha transformado mi forma de estudiar matemáticas. Antes solía tener dificultades para entender ciertos conceptos, pero con esta plataforma, puedo ver los videos tantas veces como necesite y practicar con los ejercicios interactivos. Es una herramienta completa y efectiva para fortalecer mis habilidades matemáticas."  <br><br><b>- Angie Yanes</b></p>
    </i>

  </div>



	<section class="features">
		<div class="card aritmetica">
			<h2>Aritmética</h2>
			<p>Es la rama más básica de las matemáticas y se ocupa del estudio de los números y las operaciones fundamentales como la suma, la resta, la multiplicación y la división.</p>
		</div>
		<div class="card algebra">
			<h2>Álgebra</h2>
			<p>Es una rama de las matemáticas, se enfoca en el estudio de las estructuras algebraicas, como las ecuaciones y las expresiones algebraicas, y permite resolver problemas utilizando fórmulas y manipulación simbólica.</p>
		</div>
		<div class="card logica">
			<h2>Lógica</h2>
			<p>Es el estudio de los principios del razonamiento válido y la inferencia. Se ocupa de las reglas y técnicas para evaluar y construir argumentos sólidos y razonamientos coherentes.</p>
		</div>
		<div class="card geometria">
			<h2>Geometría</h2>
			<p>Se ocupa del estudio de las propiedades y las relaciones de las figuras y los espacios. Incluye conceptos como puntos, líneas, ángulos, triángulos, círculos y polígonos, así como la medición de distancias, áreas y volúmenes.</p>
		</div>
		<div class="card calculo">
			<h2>Cálculo</h2>
			<p>Es una rama de las matemáticas que se ocupa del cambio y la variación. Comprende el estudio de las derivadas y las integrales, que permiten analizar el comportamiento de las funciones y resolver problemas relacionados con el cambio y la acumulación.</p>
		</div>
		<div class="card trigonometria">
			<h2>Trigonometría</h2>
			<p>Estudia las funciones trigonométricas, como el seno, el coseno y la tangente, y se utiliza ampliamente en problemas relacionados con medidas de ángulos, distancias y alturas, especialmente en campos como la navegación, la física y la ingeniería.</p>
		</div>
		<div class="card estadistica">
			<h2>Estadística</h2>
			<p>Se ocupa de la recopilación, el análisis, la interpretación y la presentación de datos. Proporciona herramientas y técnicas para resumir información, realizar inferencias y tomar decisiones basadas en datos. </p>
		</div>
		<div class="card fisica-matematica">
			<h2>Física-Matemática</h2>
			<p>Es una disciplina que combina la física y las matemáticas. Se centra en el desarrollo y la aplicación de métodos matemáticos para describir y analizar fenómenos físicos, como la mecánica cuántica, la teoría de la relatividad y la termodinámica.</p>
		</div>
		<div class="card matematica-computacional">
			<h2>Matemática Computacional</h2>
			<p>Es una disciplina que combina las matemáticas y la informática, desarrolla e implementa métodos, técnicas  y software para realizar cálculos y simulaciones en diversas áreas, como la ingeniería y la física.</p>
		</div>
	</section>
  <section class="features">
    <div class="card">
      <img src="assets/Imagenes/1.gif" alt="100">
      <h2>Mejora tus calificaciones</h2>
      <p>Mejora tus resultados de evaluaciones en la clase de matemática de tu institución.</p>
    </div>
    <div class="card">
      <img src="assets/Imagenes/2.gif" alt="100">
      <h2>Ejercicios interactivos</h2>
      <p>Practica y refuerza tus conocimientos con nuestros ejercicios interactivos.</p>
    </div>
    <div class="card">
      <img src="assets/Imagenes/3.gif" alt="100">
      <h2>Estadísticas sobre tu progreso</h2>
      <p>Mantente al tanto en tus avances de aprendizaje numérico</p>
    </div>
  </section>

	<footer>
		<p>&copy; 2023 MathGenious</p>
	</footer>

</html>
